

input[type="number"] {
  width: 3em;
}

* {
. border-radius(0) !important;
}

#field {
  margin-bottom: 20px;
}


.button:focus {
  background-color: #afffc3;

}


.heart {
  font-size: 25px;
  color: #ff6264;
}

.navbar {
  background-image: linear-gradient(#22B14F, #94C2D0);

}
.navbar-brand
{
  font-size: 40px;
}


.typeahead,
.modal,
.navbar,
.btn,
p,
.container{
  font-family: 'Abel', sans-serif;
}
.modal-header{
  background-image: linear-gradient(#fffceb, #fff8f8);
}

.info-header{
    background-image: linear-gradient(#45d071, #b1ddea);
}

.info-body{
  background-color: #daf0fd;
}

p{
  font-size: large;
}
.dropdown-divider{
  color : grey;
  background-color: grey;
  border-color:grey

}
input[type="text"], textarea {

}

.pantry-type{
  max-width: 220px;
}

.profile{
  background-color: #ace8b5;
  margin: .5em;
  border: 4px solid #93e0af;
  border-radius: 25px; !important;

}
.add-to-pantry{
  margin-bottom: 50px;
}

.profile-pic{
  margin: .5em;
  border: 7px solid #93e0af;
}

.welcome {
  background-color: rgba(242, 175, 152, 0.79);
  font-style: oblique;

}


.remove-me{
  background: rgba(242, 175, 152, 0.79);
  border-color: #e57f6b;
  min-width:80px;
  margin-bottom: .2em;


}
.add-more{
  background: rgba(105, 242, 96, 0.79);
  border-color: #67cc68;
  min-width:80px;

  margin-right: 7px;
  padding-left: 18.5px;
  padding-right: 18.5px;


}
.find-recipe {
  background: rgba(22, 179, 63, 0.79);
  color: white;
  margin-top: 10px;
}

.food-form{
  margin: 2em;

  background: rgba(201, 242, 218, 0.79);
}
.nav-tabs .nav-item .nav-link {
  background-color: rgb(255, 173, 123);
  color: #fffdfe;
  border-color: rgb(212, 139, 106);
}

.nav-tabs .nav-item .nav-link.active {
  color: #edfffc;
  background-color: #8eb6ff;

}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
  font-family: 'Abel', sans-serif;

}

.tab-content .tab-pane {
  background-color: #eef6ff;

  color: black;
  min-height: 200px;
  height: auto;

}

.food-images{
  display: table;
  border-collapse: collapse;
  width: 100%;

}
.food-icons{
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.pantry-buttons {
  background: rgba(255, 254, 240, 0.16);

}

.pantry-items{
  margin: 0em ; !important;
  font-size: large;
  font-weight: bold;
  font-family: 'Abel', sans-serif;

}
.enjoy-explanation,
.pantry-explanation{
  margin: 0em ; !important;
  margin-bottom:10px;
  font-family: 'Abel', sans-serif;

  font-size: medium;
  font-weight: bold;
}

.enjoy-explanation{
  justify-content: center;
  font-size: large; !important;

}


.pantry-add-more{
  margin-top:10px;

}

.item {
  display: table-cell;
  vertical-align: top;
}
.item img {
  display: block;
  width: 100%;
  height: auto;
}

.bbc{
  text-align: center;
  font-family: 'Abel', cursive;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3;
  font-style: oblique;
  padding-right: 6rem;
  padding-left: 6rem;

}

.cook-time{
  margin-left: 2px;

}


#new-suggest{
  height: 2.6rem;
  visibility: hidden;
  position: absolute;
  right: 17px;
}
#loadSpinner{
  display: none;
  margin-right: 5px;
  margin-top: 3px;
  float: left;
}
#cookSpinner{
  display: none;
  margin-left: 7px;
  margin-top: 20px;
}

#loaderText{
  float: left;
}

.card-title{
  font-size: large; !important;
  font-weight: bold; !important;
}

.fridge-buttons{
  margin-left: 0;
  padding: 0;
}
.nav-main{
  color: white !important;
  font-size: large; !important;
}
.h1{
  margin-bottom: 0; !important;
}

#info-button{
  margin-right: 1rem;
  background: url("/../images/info.png") no-repeat;
  width: .25in;
  height: .25in;
  position:relative;

}
#info-button:hover > #overlay {
  margin-right: 1rem;
  width: 100%;
  height: 100%;
  position:absolute;
  background-color:#000;
  opacity:0.5;
  border-radius:30px;
}

.form-group{
  margin-bottom: .1rem;
}

#modify-buttons{
  margin: 0;
}

