input[type="number"] {
  width: 3em;
}

* {
. border-radius(0) !important;
}

#field {
  margin-bottom: 20px;
}




.button:focus {
  background-color: #afffc3;

}


.heart {
  font-size: 25px;
  color: #ff6264;
}

.navbar {
  background-image: linear-gradient(#6fdd92, #92c3d2);

}
.navbar-brand
{
  font-size: 40px;
}


.typeahead,
.modal,
.navbar,
.btn,
.container{
  font-family: 'Abel', sans-serif;}


.dropdown-divider{
  color : grey;
  background-color: grey;
  border-color:grey

}
input[type="text"], textarea {

}

.profile{
  background-color: #c9f2da;
  margin: .5em;
  /*background-image: url("https://image.shutterstock.com/image-vector/vector-seamless-pattern-cute-orange-260nw-1048386433.jpg");*/

}

.profile-pic{
  margin: .5em;

}

.welcome {
  background-color: rgba(242, 175, 152, 0.79);

}


.remove-me{
  background: rgba(242, 175, 152, 0.79);

}
.add-more{
  background: rgba(214, 242, 177, 0.79);

}
.find-recipe {
  background: rgba(157, 242, 151, 0.79);
  color: #158043;

}

.food-form{
  margin: 2em;

  background: rgba(201, 242, 218, 0.79);
}
.nav-tabs .nav-item .nav-link {
  background-color: rgb(255, 173, 123);
  color: #fffdfe;
}

.nav-tabs .nav-item .nav-link.active {
  color: #edfffc;
  background-color: rgb(255, 155, 113);

}

.tab-content {
  border: 1px solid #dee2e6;
  border-top: transparent;
}

.tab-content .tab-pane {
  background-color: rgba(255, 226, 202, 0.62);
  color: #ff9283;
  min-height: 200px;
  height: auto;

}

.food-images{
  display: table;
  border-collapse: collapse;
  width: 100%;

}
.pantry-buttons {
  background: rgba(255, 254, 240, 0.16);

}

.pantry-items{
  margin: 0em ; !important;
  margin-bottom:10px;
  margin-left:10px;
  font-size: large;
  font-weight: bold;

}

.item {
  display: table-cell;
  vertical-align: top;
}
.item img {
  display: block;
  width: 100%;
  height: auto;
}

.bbc{
  text-align: center;
  font-family: 'Abel', cursive;
  margin-top: 10px;
  font-size: x-large;
  font-style: oblique;



}
